extends ../mainLayout

block layout-content
  div.View.RiderView
    h1.Banner What would you like to do?
      
    h2.Message
        table 
            tr
                th= "Open Orders"
                th= "Past Orders"
            tr
                td= ""
                    div.NavButtons
                        a(href="/rider/orders/current")
                            div.NavButton Manage Current Orders

                td= ""
                    div.NavButtons
                        a(href="/rider/orders/past")
                            div.NavButton View Past Orders    

    h2.Message 
        table
            tr
                th= "Working Hours"
                th= "Your Information"
            tr
                if type == "Part Time"
                    td= ""
                        div.NavButtons
                            a(href="/rider/wws/")
                                div.NavButton View/Edit Work Hours
                else if type == "Full Time"
                    td= ""
                        div.NavButtons
                            a(href="/rider/mws")
                                div.NavButton View/Edit Work Hours

                td= ""
                    body Availability: #{availability}
                    br
                    body Type: #{type}
                    br
                    body Rating: #{rating}
                    br
                    body Base Salary: #{salary}
                    br
                    body Commission: #{commission}
                    
    div.NavButtons
      a(href="/")
        div.NavButton Logout