extends ../layout

block layout-content
  div.View.RestaurantView
    h1.Banner Profile!
    div.Message
      div.Title
        h2 Your Profile!
        table
            tr
                th= 'Restaurant Name'
                th= 'Minimum Order'
            tr
                for item in profile
                    tr.odd(role='row')
                    td #{item.restaurantname}
                    td #{item.minorder}

    <br>
    div.Message
      div.Title
        h2 Edit profile?
        <br>
        <br>
        
        div.dropdown
            form(action='/editProfile' method="POST")
                label(for='Profile item to edit') Item to Edit:
                select(name='dropDown', id='')
                        option="minimum order"
                        input(type="number" name="minOrder" id="inputMinOrder" class="form-control" placeholder="new minimum order" required autofocus)  
                        <br>
                        <br>
                        input(type='submit', value='Edit Item!')
    div.NavButtons  
      a(href="/restaurant/home")
        div.NavButton Back