extends ../MainLayout

block layout-content
  div.View.RestaurantView
    h1.Banner Welcome!
    div.Message
      h2(text-align: center) Your Current Menu
      table
        tr
          th= 'Item'
          th= 'Cuisine'
          th= 'Price'
          th= 'Available Quantity'
        tr
          for item in menu
            tr.odd(role='row')
              td #{item.foodname}
              td #{item.category}
              td.dt-body-right.sorting_1 #{item.price}
              td #{item.maxavailable}
      <br>
      div.NavButtons
        a(href="/restaurant/addMenu")
            div.NavButton Add New Menu item!
        a(href="/restaurant/editMenu")
            div.NavButton Edit Menu Item!

    <br>
    div.Message
      h2(text-align: center) Launch a promotional campaign!
      <br>
      div.NavButtons
        a(href="/restaurant/launchPromo")
          div.NavButton Launch Promo
        a(href="/restaurant/viewPromos")
          div.NavButton View Current Promos
    <br>
    div.Message
      h2(text-align: center) View Monthly Summary!
      <br>
      div.NavButtons
        a(href="/restaurant/summary")
          div.NavButton View Summary
    <br>
    div.Message
      h2(text-align: center) View Your Profile!
      <br>
      div.NavButtons
        a(href="/restaurant/profile")
          div.NavButton View profile

    div.NavButtons
      a(href="/")
        div.NavButton Sign Out
