extends ../MainLayout

block layout-content
  div.View.RestaurantView
    h1.Banner Here's your summary!
    div.Message
      h2(text-align: center) Summary
      table
        tr
          th= 'Month'
          th= 'Total Completed Orders'
          th= 'Total Cost'
          th= 'Top 5'
        tr
          for item in summary
            tr.odd(role='row')
              td #{item.month}
              td #{item.totalorders}
              td #{item.totalcost}
    <br>

        div.NavButton(text-align: center)
            a(href="/restaurant/home")
                div.NavButton Back
