extends ../MainLayout

block layout-content
  div.View.ManagerView
    h1.Banner Howdy Manager!
    div.Message
      div.Title
        h3 Here's a summary of the FDS System!
        h1 Sleuth Away.....
    div.Message
      div.Title
        h1 Monthly Summary
        table
          tr
            th= 'Month'
            th= 'New Customers'
            th= 'Total Orders'
            th= 'Total Cost'
            th= 'Customer Summary'
          tr
            for item in summary
              tr.odd(role='row')
                td #{item.month}
                td #{item.newcustcount}
                td #{item.totalorders}
                td #{item.totalcost}
                th
                  div.NavButton(text-align: center)
                    a(href="/manager/customerstats/" + item.month)
                        div.NavButton Show

    div.NavButtons
      a(href="/manager/areastats")
          div.NavButton Area Summary
      a(href="/manager/riderstats")
          div.NavButton Rider Summary
    <br>
    div.NavButtons
      a(href="/")
          div.NavButton Logout
