extends ../MainLayout

block layout-content
  div.View.ManagerView
    h1.Banner Here's the overall RIder Summary!
    div.Message
      h2(text-align: center) Rider Summary
      table
        tr
          th= 'Rider ID'
          th= 'Month'
          th= 'Total Orders'
          th= 'Hours Worked'
          th= 'Total Earned'
          th= 'Average Delivery Time'
          th= 'Number of ratings'
          th= 'Rating average'
        tr
          for item in summary
            tr.odd(role='row')
              td #{item.riderid}
              td #{item.month}
              td #{item.orders}
              td #{item.hours}
              td #{item.sum}
              td #{item.time}
              td #{item.reviewcount}
              td #{item.reviewavg}

    <br>

        div.NavButton(text-align: center)
            a(href="/manager/home")
                div.NavButton Back