extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Confirm your order
        h4 with #{Restaurant}
        <br>
        <br>
        table
            tr
                th='Item'
                th='Price per pax'
                th='Quantity'
            tr
                each rec in orderedItems
                    tr
                        td=rec.item
                        td=rec.price
                        td=rec.quantity
        h4 Total amount: #{Total}
        h4 Promo applied: #{Promo}
        h4 Delivery fee: #{DeliveryFee} 
        h4 Total: #{Final}
        
        <br>
        h4 Deliver to: #{Address}
        h4 Payment by: #{Payment}
      a(href="/createOrder")
        div.NavButton Place Order
    div.NavButtons  
      a(href="/customer/selectPayment")
        div.NavButton Back
