extends ../mainLayout

block layout-content
  div.View.UserView
    h1.Banner What do you need today?
      
    h2.Message
      table
        tr
            th= "Make a New Order"
            th= "Recent Activity"
        tr
            td= ""
                div.NavButtons
                    a(href="/customer/newOrder")
                        div.NavButton New Order
            td= ""
              table
                  tr
                    th=''
                    th= 'Restaurant'
                    th= 'Delivery location'
                  each ord in Orders
                    tr
                      td=ord.orderid
                      td=ord.restaurant
                      td=ord.address+' '+ord.postalcode
    <br>              
    h2.Message View Completed Orders
      div.NavButtons
        a(href="/customer/pastOrders")
          div.NavButton View Past Orders
    <br>
    h2.Message View/Edit Profile
      div.NavButtons
        a(href="/customer/profile")
          div.NavButton Edit Profile
      
    div.NavButtons
      a(href="/logout")
        div.NavButton Logout
