extends ../mainLayout

block layout-content
  div.View.UserView
    h1.Banner What do you need today?
      
    h2.Message
      table
        tr
            th= "Make a New Order"
            th= "Current Activity"
        tr
            td= ""
                div.NavButtons
                    a(href="/customer/newOrder")
                        div.NavButton New Order
            td= ""
              table
                  tr
                    th= 'Restaurant'
                    th= 'Items'
                    th= 'Total price'
                  each ord in Orders
                    tr
                      td=ord.restaurant
                      td=ord.items
                      td=ord.price
    div.NavButtons
      a(href="/logout")
        div.NavButton Logout
