extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Confirm your order
        h2 with #{Restaurant}
        <br>
        <br>
        table
            tr
                td='Item'
                td='Quantity'
            tr
                each rec in orderItems
                    tr
                        td=rec.item
                        td=rec.quantity
        h4 Deliver to #{deliveryAddress}
    div.NavButtons  
      a(href="/newOrder3")
        div.NavButton Back
