extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Confirm your order
        h2 with #{Restaurant}
        <br>
        <br>
        table
            tr
                td='Item'
                td='Price per pax'
                td='Quantity'
            tr
                each rec in orderedItems
                    tr
                        td=rec.item
                        td=rec.price
                        td=rec.quantity
        h4 Deliver to: #{Address}
        h4 Total: #{Total}
        h4 Delivery fee: #{DeliveryFee} 
        h4 Total with Delivery fee: #{Final}
        h4 Deliver to: #{Address}
        h4 Payment by: #{Payment}
        div.form-signin
          h3 Have promo code?:
          form(action='/confirmOrder' method="POST")
            input(type="plaintext" name="promocode" id="promocode" class="form-control" placeholder="Promo Code" required autofocus)
            <br>
            <br>
            div.NavButton
              input(type='submit', value="Apply promo")
          <br>
          <br>
          a(href="/customer/confirmOrder")
            div.NavButton Proceed without promo
    div.NavButtons  
      a(href="/customer/selectPayment")
        div.NavButton Back
