extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Make your order from 
        h2 #{Restaurant}
        <br>
        table
            tr
                th= 'Item'
                th= 'Max qty'
                th= 'Qty'
            tr
                each it in Items
                    tr
                        td=it.foodname
                        td=it.maxavailable
                        td=''
                            div.form-signin
                            form(action='/createCustomer' method="POST")
                                input(type="plaintext" name="qty" id="inputQty" class="form-control" placeholder="Qty" required autofocus)
                                <br>
                                input(type='submit', value="Update Qty")
        <br>
        a(href="/newOrder3")
            div.NavButton Next 
    div.NavButtons  
      a(href="/customer/newOrder")
        div.NavButton Back