extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Confirm your order
        h2 with #{Restaurant}
        <br>
        <br>
        table
            tr
                td='Item'
                td='Quantity'
            tr
                each rec in orderedItems
                    tr
                        td=rec.item
                        td=rec.quantity
        h4 Deliver to: #{Address}
        h2 How would you like to pay?
        <br>
        <br>
        div.dropdown
          form(action='/confirmOrder' method="POST")
            label(for='creditcardnumber') Payment method
            select(name='dropDown4', id='')
              each ccn in creditcardnumber
                option=ccn.creditcardnumber
              option='Cash payment'
              input(type='submit', value='Select')
        a(href="/customer/updateCreditcardnumber")
          div.NavButton Update Credit Card Number
    div.NavButtons  
      a(href="/customer/selectAddress")
        div.NavButton Back
